.scoreBoard {
    display: flex;
    flex-direction:row ;
    align-items: center;
    justify-content: space-evenly;
    width: 20rem;
    font-size: 1.5rem;
    background-color: #ffffff;
    margin: 3rem auto;
    box-shadow: 0px 0px 90px #000;
    border-radius: 0.4rem ;
    font-weight: bold;
}

.score {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    font-family: 'Fredoka', sans-serif;
}

.x-score {
    color: red;
    border-bottom: 5px solid red;
}

.o-score {
    color: blue;
    border-bottom: 5px solid blue;
}

.inactive {
    border-radius: 5px solid transparent;
}